# Data Science Tools and Ecosystem

## Author

Sandile Makhubo

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages in Data Science
- Common Libraries
- Tools
- Python arithmetic expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

Data Science Tools
-----------------|
Hadoop|
Apache Spark|
R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [32]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [35]:
200/60

3.3333333333333335